body {
    background-color: slategray;
}

#container {
    background-image: url(./assets/pokedex.png);
    border-style: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 900px;
    height: 40em;
    background-position: center;
    margin: auto;
    margin-top: 3em;
}

#PokeImg {
    position: relative;
    margin-left: 8em;
    top: 12.8em;
}

#PokeStats {
    position: relative;
    margin-left: 22.5em;
    margin-top: 6.3em;
    font-size: 12px;
}

#PokeInfo {
    color: white;
    position: relative;
    margin-right: 10.3em;
    margin-top: -9em;
    float: right;
}

#PokeHeight {
    position: relative;
    color: white;
    margin-left: 36em;
    margin-top: 11.7em;
}

#PokeWeight {
    position: relative;
    color: white;
    margin-left: 45.5em;
    margin-top: -2.1em;
}

h5 {
    position: relative;
    left: 1.3em;
}

body h1 {
    text-align: center;
}

form {
    text-align: center;
}

#PokemonOriginal {
    position: relative;
    margin-left: 10.2em;
    top: -2.8em;
}

#PokemonShiny {
    position: relative;
    top: -2.8em;
}